{% load static %}{% static "images" as baseUrl %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Travel Yaatra</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %} ">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Travello template project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
	<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/about_responsive.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{% static 'img/logo.jpg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                              <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/">home</a></li>
                                            <li><a href="about">About</a></li>
                                            {% if user.is_authenticated %}
                                            <li>Hello, {{user.first_name}}</li>
                                            <li><a href="logout">logout</a></li>
                                            {%else%}
                                            <li><a href="login">Login</a></li>
                                            <li><a href="register">Register</a></li>
                                            {%endif%}
                                            <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">blog</a></li>
                                                    {% comment %} <li><a href="single-blog.html">single-blog</a></li> {% endcomment %}
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                             </li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>


                             <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                                <div class="social_wrap d-flex align-items-center justify-content-end">
                                    <div class="number">
                                        <p> <i class="fa fa-phone"></i>7075106364</p>
                                    </div>

                                    <div class="social_links d-none d-xl-block">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="fa fa-instagram"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-google-plus"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
	
	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url({% static 'images/about.jpg' %})"></div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					{% comment %} <div class="section_subtitle">simply amazing places</div> {% endcomment %}
					<div class="section_title"><h2>A few words about us</h2></div>
				</div>
			</div>
					<div class="about_content">
						<div class="text_highlight">Team SDP Group </div>
						<div class="about_text">
							<p>We the sophomores of KLUniversity. As a part of our skill development project, we created 
							a website on business system Travel, Tourism and Hospitality. This website is more user friendly
							and they will get the updated information regarding every tourist place. It will make things easier as 
							they have to provide information like destination, check-in and check-out dates, contact details, and 
							other travel related data. And make sure you offer multiple payment methods like credit card, debit card, 
							PayPal, or even through net banking to make the process easy.</p>
						</div>
						{% comment %} <div class="button about_button"><a href="#">read more</a></div> {% endcomment %}
					</div>
				</div>
				
			</div>
		</div>
	</div>
    <br><br>
	<!-- Team -->

	<div class="team">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title"><h2>Meet the Team</h2></div>
				</div>
			</div>
			<br>
			<div class="row team_row">
				
				<!-- Team Item -->
				<div class="col-lg-4 col-md-6">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">

						<br>
						<div class="team_content">
							<div class="team_title"><a href="#">Chinni Guna Kumari</a></div>
							<div class="team_text">
								<p>Hello Amigos!!! My name is Guna Kumari.Present I am pursuing Computer Science and Engineering at KL University.Recently I am the Team Lead of this Project.
I am an enthusiastic,eageristic,and motivated undergraduate fellow who likes to take a lead position and come out with an innovative ideas for a bright future in this competitive world.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4 col-md-6">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">

						<br>
						<div class="team_content">
							<div class="team_title"><a href="#">Konda Varshitha</a></div>
							<div class="team_text">
								<p>Hello! My name is Varshitha. I am a under-graduate from KL University with Data Science specialization. I am an optimistic
								person, loves travelling and very interested in learning new thing. very much interested in innovation
								 and research.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4 col-md-6">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">

						<br>
						<div class="team_content">
							<div class="team_title"><a href="#">Susmitha</a></div>
							<div class="team_text">
								<p>Hi all , I am Susmitha.  My specialization is Cloud Computing.
								 I am very intrested in learning new things.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<br><br>
	<!-- Footer -->

	<footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="{% static 'img/logo.jpg' %}" alt="">
                                </a>
                            </div>
                            <p>Team SDP<br>vijayawada<br>
                                <a href="#">+91 7075106364</a> <br>
                                <a href="#">travelyatra26@gmail.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Company
                            </h3>
                            <ul class="links">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#"> Gallery</a></li>
                                <li><a href="#"> Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Popular destination
                            </h3>
                            <ul class="links double_links">
                                <li><a href="#">Indonesia</a></li>
                                <li><a href="#">America</a></li>
                                <li><a href="#">India</a></li>
                                <li><a href="#">Switzerland</a></li>
                                <li><a href="#">Italy</a></li>
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">Franch</a></li>
                                <li><a href="#">England</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Instagram
                            </h3>
                            <div class="instagram_feed">
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="{% static 'img/instagram/1.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="{% static 'img/instagram/2.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="{% static 'img/instagram/3.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="{% static 'img/instagram/4.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="{% static 'img/instagram/5.png' %}" alt="">
                                    </a>
                                </div>
                                <div class="single_insta">
                                    <a href="#">
                                        <img src="{% static 'img/instagram/6.png' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is from Team SDP2 Group 1126</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script>
    Weglot.initialize({
        api_key: 'wg_4a0e7b13e64feb82e8cfdbf0c86d7ac70'
    });
</script>

</body>

</html>
