

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Password reset sent</h2>
		<hr>
		<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
  <script>
    Weglot.initialize({
        api_key: 'wg_4a0e7b13e64feb82e8cfdbf0c86d7ac70'
    });
</script>
